

.score_css{
	text-align: center;
	padding: 30px;
	color: white;
}
.button_css{
	border: none;
	margin-left: 10px;
	background-color: black;
	color: white;
	padding: 20px;
	border-radius: 20px;
	transition: 0.8s;
	box-shadow: 0 0 5px 1px red;
}
.button_css:hover{
	box-shadow: 0 0 200px 1px red;
	background-color: red;
}
.img{
	margin-left: 450px;
}
span{
		color: white;
}
